*{
    margin:0;
    padding: 0;
    
}
body{
    background:  url(aurora-borealis-g09bc8bafb_1920.jpg );
    color: beige;
}

#nav{
    display:flex;
    align-items: center;
}
#logo{
    margin: 10px 0px;
}
#logo img{
    margin: 10px 30px;
    height: 100px;
    width: 80px;
    filter: invert();
}

form{
    
    display: flex;
    justify-content: center;
    margin: auto;
    padding: auto;
}
 #alphamid{
    display:block;
    margin:10px 20px;
    padding: auto;
    border: dotted white 2px;
    border-radius: 20px;
} 
.main{
    display: flex;
    justify-content: center;
}
.mid{
    display: flex;
margin: 10px 20px;
padding: 10px;
justify-content: center;

}
input{
    font-size: 14px;
}
input:hover{
    font-weight: bold;
    cursor: pointer;
}
.submit{
    display: flex;
    justify-content: center;
}
.submit button{
    display: flex;
margin: 10px 20px;
padding: 10px;
justify-content: center;
font-size: 0.8rem;
border-radius: 10px;
}
.submit button:hover{
    font-weight: bolder;
    background-color: blueviolet;
    cursor: pointer;
}